@font-face {
    font-family: 'STHUPO';
    src: url('./STHUPO.TTF') format('ttf');
    font-weight: 600;
    font-style: italic;
}

.hello{
    color: red;
    font-family: 'STHUPO';
    background: url('./icon.svg');
}